﻿@page
@model Part3ThankYou
@{
    ViewData["Title"] = "DigitalTrust";
}
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Thank you</h3>
            </div>
            <form method="POST" class="panel-body">
                <p>Thank you very much for participating in the survey and supporting our research!</p>
                
              
               
                
            </form>
            @if (Model.ShouldShowGuid)
            {
                <div class="panel-footer" >
                   <small>S: @Model.Guid</small>
                </div>
            }
        </div>
    </div>
</div>
