﻿@page
@model Part1AnswerModel
@{
    ViewData["Title"] = "DigitalTrust";
}
<form method="POST">
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">20%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#ff8566">
                <h3 class="panel-title">Please carefully read the following text.</h3>
            </div>
            <div class="panel-body">
                <p>@Model.CurrentScenarioDefinition.BaseText</p>
                <p>@Model.CurrentScenarioDefinition.PrivacyAndSecurityText</p>
                <p>@Model.CurrentScenarioDefinition.ControlText</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Putting yourself into the shoes of someone who considers to use this app, please answer the following questions on a seven-point scale ranging from strongly disagree (-3) to strongly agree (3):</h3>
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-12">I consider the data I am sharing when using the app to be very sensitive</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, -3, new {@Id="id1"})&nbsp;<label for="id1">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, -2, new {@Id="id2"})&nbsp;<label for="id2">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, -1, new {@Id="id3"})&nbsp;<label for="id3">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, 0, new {@Id="id4"})&nbsp;<label for="id4">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, 1, new {@Id="id5"})&nbsp;<label for="id5">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, 2, new {@Id="id6"})&nbsp;<label for="id6">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsidersSharedDataVerySensitive, 3, new {@Id="id7"})&nbsp;<label for="id7">3</label></div>
                </div>
                                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">It is important for me that the data I am sharing when using the app is kept secure</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, -3, new {@Id="id8"})&nbsp;<label for="id8">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, -2, new {@Id="id9"})&nbsp;<label for="id9">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, -1, new {@Id="id10"})&nbsp;<label for="id10">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, 0, new {@Id="id11"})&nbsp;<label for="id11">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, 1, new {@Id="id12"})&nbsp;<label for="id12">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, 2, new {@Id="id13"})&nbsp;<label for="id13">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataSecure, 3, new {@Id="id14"})&nbsp;<label for="id14">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">It is important for me that the data I am sharing when using the app is kept private</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, -3, new {@Id="id15"})&nbsp;<label for="id15">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, -2, new {@Id="id16"})&nbsp;<label for="id16">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, -1, new {@Id="id17"})&nbsp;<label for="id17">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, 0, new {@Id="id18"})&nbsp;<label for="id18">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, 1, new {@Id="id19"})&nbsp;<label for="id19">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, 2, new {@Id="id20"})&nbsp;<label for="id20">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToKeepDataPrivate, 3, new {@Id="id21"})&nbsp;<label for="id21">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I consider the data I am sharing when using the app to represent very private information</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, -3, new {@Id="id22"})&nbsp;<label for="id22">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, -2, new {@Id="id23"})&nbsp;<label for="id23">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, -1, new {@Id="id24"})&nbsp;<label for="id24">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, 0, new {@Id="id25"})&nbsp;<label for="id25">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, 1, new {@Id="id26"})&nbsp;<label for="id26">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, 2, new {@Id="id27"})&nbsp;<label for="id27">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderSharedDataToRepresentVeryPrivateInformation, 3, new {@Id="id28"})&nbsp;<label for="id28">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I feel that my privacy would be strongly violated if the data I am providing when using the app would be accessed by third parties </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, -3, new {@Id="id29"})&nbsp;<label for="id29">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, -2, new {@Id="id30"})&nbsp;<label for="id30">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, -1, new {@Id="id31"})&nbsp;<label for="id31">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, 0, new {@Id="id32"})&nbsp;<label for="id32">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, 1, new {@Id="id33"})&nbsp;<label for="id33">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, 2, new {@Id="id34"})&nbsp;<label for="id34">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelPrivacyViolatedIfDataAccessedByThirdParties, 3, new {@Id="id35"})&nbsp;<label for="id35">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">It is important for me to have full control over the data provided when using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, -3, new {@Id="id36"})&nbsp;<label for="id36">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, -2, new {@Id="id37"})&nbsp;<label for="id37">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, -1, new {@Id="id38"})&nbsp;<label for="id38">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, 0, new {@Id="id39"})&nbsp;<label for="id39">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, 1, new {@Id="id40"})&nbsp;<label for="id40">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, 2, new {@Id="id41"})&nbsp;<label for="id41">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ImportantToHaveFullControlOverData, 3, new {@Id="id42"})&nbsp;<label for="id42">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel that the data I am sharing when using the app is secure</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, -3, new {@Id="id43"})&nbsp;<label for="id43">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, -2, new {@Id="id44"})&nbsp;<label for="id44">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, -1, new {@Id="id45"})&nbsp;<label for="id45">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, 0, new {@Id="id46"})&nbsp;<label for="id46">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, 1, new {@Id="id47"})&nbsp;<label for="id47">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, 2, new {@Id="id48"})&nbsp;<label for="id48">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsSecure, 3, new {@Id="id49"})&nbsp;<label for="id49">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel that the data I am sharing when using the app is kept private</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, -3, new {@Id="id50"})&nbsp;<label for="id50">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, -2, new {@Id="id51"})&nbsp;<label for="id51">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, -1, new {@Id="id52"})&nbsp;<label for="id52">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, 0, new {@Id="id53"})&nbsp;<label for="id53">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, 1, new {@Id="id54"})&nbsp;<label for="id54">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, 2, new {@Id="id55"})&nbsp;<label for="id55">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelDataIsKeptPrivate, 3, new {@Id="id56"})&nbsp;<label for="id56">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe that the personal data I provide will be sufficiently protected by the provider and not be accessed by unauthorized third parties</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -3, new {@Id="id57"})&nbsp;<label for="id57">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -2, new {@Id="id58"})&nbsp;<label for="id58">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -1, new {@Id="id59"})&nbsp;<label for="id59">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 0, new {@Id="id60"})&nbsp;<label for="id60">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 1, new {@Id="id61"})&nbsp;<label for="id61">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 2, new {@Id="id62"})&nbsp;<label for="id62">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 3, new {@Id="id63"})&nbsp;<label for="id63">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe that the provider can guarantee high data security standards</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, -3, new {@Id="id64"})&nbsp;<label for="id64">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, -2, new {@Id="id65"})&nbsp;<label for="id65">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, -1, new {@Id="id66"})&nbsp;<label for="id66">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, 0, new {@Id="id67"})&nbsp;<label for="id67">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, 1, new {@Id="id68"})&nbsp;<label for="id68">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, 2, new {@Id="id69"})&nbsp;<label for="id69">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteesHighSecurityStandards, 3, new {@Id="id70"})&nbsp;<label for="id70">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe that the provider can guarantee high data confidentiality</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, -3, new {@Id="id71"})&nbsp;<label for="id71">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, -2, new {@Id="id72"})&nbsp;<label for="id72">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, -1, new {@Id="id73"})&nbsp;<label for="id73">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, 0, new {@Id="id74"})&nbsp;<label for="id74">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, 1, new {@Id="id75"})&nbsp;<label for="id75">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, 2, new {@Id="id76"})&nbsp;<label for="id76">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderGuaranteeHighDataConfidentiality, 3, new {@Id="id77"})&nbsp;<label for="id77">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel my data is safe</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, -3, new {@Id="id78"})&nbsp;<label for="id78">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, -2, new {@Id="id79"})&nbsp;<label for="id79">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, -1, new {@Id="id80"})&nbsp;<label for="id80">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, 0, new {@Id="id81"})&nbsp;<label for="id81">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, 1, new {@Id="id82"})&nbsp;<label for="id82">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, 2, new {@Id="id83"})&nbsp;<label for="id83">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelMyDataIsSafe, 3, new {@Id="id84"})&nbsp;<label for="id84">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I feel that the provider allows me to control who can get access to the data that I am sharing when using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, -3, new {@Id="id85"})&nbsp;<label for="id85">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, -2, new {@Id="id86"})&nbsp;<label for="id86">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, -1, new {@Id="id87"})&nbsp;<label for="id87">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, 0, new {@Id="id88"})&nbsp;<label for="id88">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, 1, new {@Id="id89"})&nbsp;<label for="id89">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, 2, new {@Id="id90"})&nbsp;<label for="id90">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvideAllowsControlWhoCanAccessData, 3, new {@Id="id91"})&nbsp;<label for="id91">3</label></div>
                </div>
                                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I believe the provider enables the user to decide for what purpose the collected data is used</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, -3, new {@Id="id93"})&nbsp;<label for="id93">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, -2, new {@Id="id94"})&nbsp;<label for="id94">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, -1, new {@Id="id95"})&nbsp;<label for="id95">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, 0, new {@Id="id96"})&nbsp;<label for="id196">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, 1, new {@Id="id97"})&nbsp;<label for="id197">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, 2, new {@Id="id98"})&nbsp;<label for="id198">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderLetUserDecidePurpose, 3, new {@Id="id99"})&nbsp;<label for="id99">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I have no concerns that the data that I am sharing when using the app might be used for purposes I do not agree with</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, -3, new {@Id="id100"})&nbsp;<label for="id100">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, -2, new {@Id="id101"})&nbsp;<label for="id101">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, -1, new {@Id="id102"})&nbsp;<label for="id102">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, 0, new {@Id="id103"})&nbsp;<label for="id103">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, 1, new {@Id="id104"})&nbsp;<label for="id104">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, 2, new {@Id="id105"})&nbsp;<label for="id105">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernDataUsedMightUsedWayIDontAgreeWith, 3, new {@Id="id106"})&nbsp;<label for="id106">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I have no concerns that the data that I am sharing when using the app might be transferred to third parties without my consent</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, -3, new {@Id="id107"})&nbsp;<label for="id107">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, -2, new {@Id="id108"})&nbsp;<label for="id108">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, -1, new {@Id="id109"})&nbsp;<label for="id109">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, 0, new {@Id="id110"})&nbsp;<label for="id110">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, 1, new {@Id="id111"})&nbsp;<label for="id111">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, 2, new {@Id="id112"})&nbsp;<label for="id112">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.NoConcernsThatDataTransferedToThirdPartyWithoutConsent, 3, new {@Id="id113"})&nbsp;<label for="id113">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I feel that I have control over the personal data that I am sharing when using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, -3, new {@Id="id114"})&nbsp;<label for="id114">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, -2, new {@Id="id115"})&nbsp;<label for="id115">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, -1, new {@Id="id116"})&nbsp;<label for="id116">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, 0, new {@Id="id117"})&nbsp;<label for="id117">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, 1, new {@Id="id118"})&nbsp;<label for="id118">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, 2, new {@Id="id119"})&nbsp;<label for="id119">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelThatIHaveControlOverPersonalData, 3, new {@Id="id120"})&nbsp;<label for="id120">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I can manage myself what happens to the data I provide the app with</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, -3, new {@Id="id121"})&nbsp;<label for="id121">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, -2, new {@Id="id122"})&nbsp;<label for="id122">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, -1, new {@Id="id123"})&nbsp;<label for="id123">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, 0, new {@Id="id124"})&nbsp;<label for="id124">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, 1, new {@Id="id125"})&nbsp;<label for="id125">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, 2, new {@Id="id126"})&nbsp;<label for="id126">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.CanManageWhatHappensToData, 3, new {@Id="id127"})&nbsp;<label for="id127">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel I can trust the provider</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, -3, new {@Id="id128"})&nbsp;<label for="id128">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, -2, new {@Id="id129"})&nbsp;<label for="id129">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, -1, new {@Id="id130"})&nbsp;<label for="id130">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, 0, new {@Id="id131"})&nbsp;<label for="id131">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, 1, new {@Id="id132"})&nbsp;<label for="id132">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, 2, new {@Id="id133"})&nbsp;<label for="id133">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelICanTrustProvider, 3, new {@Id="id134"})&nbsp;<label for="id134">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, -3, new {@Id="id135"})&nbsp;<label for="id135">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, -2, new {@Id="id136"})&nbsp;<label for="id136">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, -1, new {@Id="id137"})&nbsp;<label for="id137">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, 0, new {@Id="id138"})&nbsp;<label for="id138">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, 1, new {@Id="id139"})&nbsp;<label for="id139">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, 2, new {@Id="id140"})&nbsp;<label for="id140">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableUsingApp, 3, new {@Id="id141"})&nbsp;<label for="id141">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe the provider is truthful in his dealings with me</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, -3, new {@Id="id142"})&nbsp;<label for="id142">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, -2, new {@Id="id143"})&nbsp;<label for="id143">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, -1, new {@Id="id144"})&nbsp;<label for="id144">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, 0, new {@Id="id145"})&nbsp;<label for="id145">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, 1, new {@Id="id146"})&nbsp;<label for="id146">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, 2, new {@Id="id147"})&nbsp;<label for="id147">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderTruthfulWithMe, 3, new {@Id="id148"})&nbsp;<label for="id148">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe the provider acts with my best interests in mind</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, -3, new {@Id="id149"})&nbsp;<label for="id149">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, -2, new {@Id="id150"})&nbsp;<label for="id150">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, -1, new {@Id="id151"})&nbsp;<label for="id151">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, 0, new {@Id="id152"})&nbsp;<label for="id152">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, 1, new {@Id="id153"})&nbsp;<label for="id153">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, 2, new {@Id="id154"})&nbsp;<label for="id154">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveProviderActsInMyInterest, 3, new {@Id="id155"})&nbsp;<label for="id155">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable with sharing my personal data with the provider</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, -3, new {@Id="id156"})&nbsp;<label for="id156">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, -2, new {@Id="id157"})&nbsp;<label for="id157">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, -1, new {@Id="id158"})&nbsp;<label for="id158">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, 0, new {@Id="id159"})&nbsp;<label for="id159">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, 1, new {@Id="id160"})&nbsp;<label for="id160">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, 2, new {@Id="id161"})&nbsp;<label for="id161">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableSharingDataWithProvider, 3, new {@Id="id162"})&nbsp;<label for="id162">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable recommending the provider to a friend or family member</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, -3, new {@Id="id163"})&nbsp;<label for="id163">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, -2, new {@Id="id164"})&nbsp;<label for="id164">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, -1, new {@Id="id165"})&nbsp;<label for="id165">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, 0, new {@Id="id166"})&nbsp;<label for="id166">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, 1, new {@Id="id167"})&nbsp;<label for="id167">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, 2, new {@Id="id168"})&nbsp;<label for="id168">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableRecommendingProviderToFriendOrFamily, 3, new {@Id="id169"})&nbsp;<label for="id169">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">I feel that the app provides me with considerable benefits</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, -3, new {@Id="id170"})&nbsp;<label for="id170">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, -2, new {@Id="id171"})&nbsp;<label for="id171">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, -1, new {@Id="id172"})&nbsp;<label for="id172">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, 0, new {@Id="id173"})&nbsp;<label for="id173">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, 1, new {@Id="id174"})&nbsp;<label for="id174">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, 2, new {@Id="id175"})&nbsp;<label for="id175">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelProvidesConsiderableBenefits, 3, new {@Id="id176"})&nbsp;<label for="id176">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">I believe that I can take advantages from using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, -3, new {@Id="id177"})&nbsp;<label for="id177">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, -2, new {@Id="id178"})&nbsp;<label for="id178">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, -1, new {@Id="id179"})&nbsp;<label for="id179">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, 0, new {@Id="id180"})&nbsp;<label for="id180">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, 1, new {@Id="id181"})&nbsp;<label for="id181">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, 2, new {@Id="id182"})&nbsp;<label for="id182">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.BelieveCanTakeAdvantage, 3, new {@Id="id183"})&nbsp;<label for="id183">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">I consider the offering of the app to be valuable</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, -3, new {@Id="id184"})&nbsp;<label for="id184">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, -2, new {@Id="id185"})&nbsp;<label for="id185">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, -1, new {@Id="id186"})&nbsp;<label for="id186">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, 0, new {@Id="id187"})&nbsp;<label for="id187">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, 1, new {@Id="id188"})&nbsp;<label for="id188">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, 2, new {@Id="id189"})&nbsp;<label for="id189">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ConsiderOfferingValuable, 3, new {@Id="id190"})&nbsp;<label for="id190">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">I expect to profit from actively using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, -3, new {@Id="id191"})&nbsp;<label for="id191">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, -2, new {@Id="id192"})&nbsp;<label for="id192">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, -1, new {@Id="id193"})&nbsp;<label for="id193">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, 0, new {@Id="id194"})&nbsp;<label for="id194">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, 1, new {@Id="id195"})&nbsp;<label for="id195">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, 2, new {@Id="id196"})&nbsp;<label for="id196">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.ExpectToProfitUsingApp, 3, new {@Id="id197"})&nbsp;<label for="id197">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">I would be keen on using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, -3, new {@Id="id198"})&nbsp;<label for="id198">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, -2, new {@Id="id199"})&nbsp;<label for="id199">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, -1, new {@Id="id200"})&nbsp;<label for="id200">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, 0, new {@Id="id201"})&nbsp;<label for="id201">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, 1, new {@Id="id202"})&nbsp;<label for="id202">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, 2, new {@Id="id203"})&nbsp;<label for="id203">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldBeKeenOnUsingApp, 3, new {@Id="id204"})&nbsp;<label for="id204">3</label></div>
                </div>
                <br/>
                <br/>
                    <div class="row">
                    <div class="col-md-12">Based on the offerings of the app, it is likely that I would recommend the app to my family and friends</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, -3, new {@Id="id205"})&nbsp;<label for="id205">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, -2, new {@Id="id206"})&nbsp;<label for="id206">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, -1, new {@Id="id207"})&nbsp;<label for="id207">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, 0, new {@Id="id208"})&nbsp;<label for="id208">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, 1, new {@Id="id209"})&nbsp;<label for="id209">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, 2, new {@Id="id210"})&nbsp;<label for="id210">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WouldRecommendTheAppToFamilyAndFriends, 3, new {@Id="id211"})&nbsp;<label for="id211">3</label></div>
                </div>
                <br/>
                <br/>

                 <div class="row">
                    <div class="col-md-2 col-md-offset-10" style="text-align: right">
                         <button type="submit" class="btn btn-primary">Next&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
</div>
</form>