﻿@page
@model PTIndexModel
@{
    ViewData["Title"] = "DigitalTrust Pre-test";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome</h3>
            </div>
            @if (!Model.AlreadyDone)
            {
            <form method="POST" class="panel-body">
                <p>Welcome and thank you for participating in this survey! It will take you approximately 10 minutes to complete the questionnaire.</p>
                <p>In the beginning, you will be shown short descriptions of two apps. Please read the descriptions carefully and try to put yourself into the shoes of someone who considers to use these apps. On the following pages, you will be asked to answer some questions related to the presented apps. Finally, you are asked to provide some demographic information about yourself.</p>
                <p>The data are collected and stored at Mannheim Business School, Germany, for research purposes only. Be assured that all answers you provide will be kept in the strictest confidentiality.</p>
                <br>
                <br>
                <button type="submit" asp-route-queryString="@Model.QueryString" class="btn btn-primary pull-right">Start&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

            </form>
            }
            else{
                <p>Survey has been already completed.</p>
            }
        </div>
    </div>
</div>
