﻿@page
@model PTPart3AnswerModel
@{
    ViewData["Title"] = "DigitalTrust";
}
<form method="POST">
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#ff8566">
                <h3 class="panel-title">Please carefully read the following text about “RatingStar” app: </h3>
            </div>
            <div class="panel-body">
                <p>@Model.CurrentScenarioDefinition.BaseText</p>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Putting yourself into the shoes of someone who considers to use this app, please answer the following questions on a seven-point scale ranging from strongly disagree (-3) to strongly agree (3):</h3>
            </div>
            <div  class="panel-body">
                
                <div class="row">
                    <div class="col-md-12">I feel that the data I am sharing when using the app is secure</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, -3, new {@Id="id1"})&nbsp;<label for="id1">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, -2, new {@Id="id2"})&nbsp;<label for="id2">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, -1, new {@Id="id3"})&nbsp;<label for="id3">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, 0, new {@Id="id4"})&nbsp;<label for="id4">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, 1, new {@Id="id5"})&nbsp;<label for="id5">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, 2, new {@Id="id6"})&nbsp;<label for="id6">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsSecure, 3, new {@Id="id7"})&nbsp;<label for="id7">3</label></div>
                </div>
                                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I feel that the data I am sharing when using the app is kept private</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, -3, new {@Id="id8"})&nbsp;<label for="id8">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, -2, new {@Id="id9"})&nbsp;<label for="id9">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, -1, new {@Id="id10"})&nbsp;<label for="id10">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, 0, new {@Id="id11"})&nbsp;<label for="id11">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, 1, new {@Id="id12"})&nbsp;<label for="id12">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, 2, new {@Id="id13"})&nbsp;<label for="id13">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelDataIsKeptPrivate, 3, new {@Id="id14"})&nbsp;<label for="id14">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I believe that the personal data I provide will be sufficiently protected by the provider and not be accessed by unauthorized third parties</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -3, new {@Id="id15"})&nbsp;<label for="id15">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -2, new {@Id="id16"})&nbsp;<label for="id16">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, -1, new {@Id="id17"})&nbsp;<label for="id17">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 0, new {@Id="id18"})&nbsp;<label for="id18">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 1, new {@Id="id19"})&nbsp;<label for="id19">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 2, new {@Id="id20"})&nbsp;<label for="id20">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveDataProtectedAndNotAccessedByUnauthorized3rdParties, 3, new {@Id="id21"})&nbsp;<label for="id21">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I believe that the provider can guarantee high data security standards</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, -3, new {@Id="id22"})&nbsp;<label for="id22">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, -2, new {@Id="id23"})&nbsp;<label for="id23">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, -1, new {@Id="id24"})&nbsp;<label for="id24">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, 0, new {@Id="id25"})&nbsp;<label for="id25">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, 1, new {@Id="id26"})&nbsp;<label for="id26">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, 2, new {@Id="id27"})&nbsp;<label for="id27">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteesHighSecurityStandards, 3, new {@Id="id28"})&nbsp;<label for="id28">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I believe that the provider can guarantee high data confidentiality</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, -3, new {@Id="id29"})&nbsp;<label for="id29">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, -2, new {@Id="id30"})&nbsp;<label for="id30">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, -1, new {@Id="id31"})&nbsp;<label for="id31">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, 0, new {@Id="id32"})&nbsp;<label for="id32">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, 1, new {@Id="id33"})&nbsp;<label for="id33">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, 2, new {@Id="id34"})&nbsp;<label for="id34">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderGuaranteeHighDataConfidentiality, 3, new {@Id="id35"})&nbsp;<label for="id35">3</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">I feel my data is safe</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, -3, new {@Id="id36"})&nbsp;<label for="id36">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, -2, new {@Id="id37"})&nbsp;<label for="id37">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, -1, new {@Id="id38"})&nbsp;<label for="id38">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, 0, new {@Id="id39"})&nbsp;<label for="id39">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, 1, new {@Id="id40"})&nbsp;<label for="id40">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, 2, new {@Id="id41"})&nbsp;<label for="id41">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelMyDataIsSafe, 3, new {@Id="id42"})&nbsp;<label for="id42">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel I can trust the provider</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, -3, new {@Id="id43"})&nbsp;<label for="id43">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, -2, new {@Id="id44"})&nbsp;<label for="id44">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, -1, new {@Id="id45"})&nbsp;<label for="id45">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, 0, new {@Id="id46"})&nbsp;<label for="id46">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, 1, new {@Id="id47"})&nbsp;<label for="id47">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, 2, new {@Id="id48"})&nbsp;<label for="id48">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelICanTrustProvider, 3, new {@Id="id49"})&nbsp;<label for="id49">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable using the app</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, -3, new {@Id="id50"})&nbsp;<label for="id50">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, -2, new {@Id="id51"})&nbsp;<label for="id51">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, -1, new {@Id="id52"})&nbsp;<label for="id52">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, 0, new {@Id="id53"})&nbsp;<label for="id53">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, 1, new {@Id="id54"})&nbsp;<label for="id54">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, 2, new {@Id="id55"})&nbsp;<label for="id55">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableUsingTheApp, 3, new {@Id="id56"})&nbsp;<label for="id56">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe the provider is truthful in his dealings with me</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, -3, new {@Id="id57"})&nbsp;<label for="id57">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, -2, new {@Id="id58"})&nbsp;<label for="id58">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, -1, new {@Id="id59"})&nbsp;<label for="id59">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, 0, new {@Id="id60"})&nbsp;<label for="id60">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, 1, new {@Id="id61"})&nbsp;<label for="id61">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, 2, new {@Id="id62"})&nbsp;<label for="id62">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderTruthfulWithMe, 3, new {@Id="id63"})&nbsp;<label for="id63">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I believe the provider acts with my best interests in mind</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, -3, new {@Id="id64"})&nbsp;<label for="id64">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, -2, new {@Id="id65"})&nbsp;<label for="id65">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, -1, new {@Id="id66"})&nbsp;<label for="id66">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, 0, new {@Id="id67"})&nbsp;<label for="id67">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, 1, new {@Id="id68"})&nbsp;<label for="id68">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, 2, new {@Id="id69"})&nbsp;<label for="id69">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3BelieveProviderActsWithMyBestInterest, 3, new {@Id="id70"})&nbsp;<label for="id70">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable with sharing my personal data with the provider</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, -3, new {@Id="id71"})&nbsp;<label for="id71">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, -2, new {@Id="id72"})&nbsp;<label for="id72">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, -1, new {@Id="id73"})&nbsp;<label for="id73">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, 0, new {@Id="id74"})&nbsp;<label for="id74">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, 1, new {@Id="id75"})&nbsp;<label for="id75">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, 2, new {@Id="id76"})&nbsp;<label for="id76">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableSharingPersonalDataWithProvider, 3, new {@Id="id77"})&nbsp;<label for="id77">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">I feel comfortable recommending the provider to a friend or family member</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, -3, new {@Id="id78"})&nbsp;<label for="id78">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, -2, new {@Id="id79"})&nbsp;<label for="id79">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, -1, new {@Id="id80"})&nbsp;<label for="id80">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, 0, new {@Id="id81"})&nbsp;<label for="id81">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, 1, new {@Id="id82"})&nbsp;<label for="id82">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, 2, new {@Id="id83"})&nbsp;<label for="id83">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.Part3FeelComfortableRecommendingTheProviderToFriendOrFamily, 3, new {@Id="id84"})&nbsp;<label for="id84">3</label></div>
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-2 col-md-offset-10" style="text-align: right">
                         <a  class="btn btn-default" href='javascript:history.go(-1)'>Back</a> &nbsp;
                         <button class="btn btn-primary">Next&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
</div>
</form>
