﻿@page
@model PTPart5AnswerModel
@{
    ViewData["Title"] = "DigitalTrust";
}
<form method="POST">
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">90%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please answer the following questions.</h3>
            </div>
            <dir class="panel-body">
                 <div class="row">
                    <div class="col-md-12">What is your age?</div>
                </div>
                <div class="row">
                    <div class="col-md-2">@Html.RadioButtonFor(x => x.Age, "U18", new {@Id="id29"})&nbsp;<label for="id29">Under 18</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Age, "18-24", new {@Id="id30"})&nbsp;<label for="id30">18-24</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Age, "25-34", new {@Id="id31"})&nbsp;<label for="id31">25-34</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Age, "35-44", new {@Id="id32"})&nbsp;<label for="id32">35-44</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Age, "45-54", new {@Id="id33"})&nbsp;<label for="id33">45-54</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Age, "55+", new {@Id="id34"})&nbsp;<label for="id34">55+</label></div>
                    
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">What is your gender?</div>
                </div>
                <div class="row">
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.IsMale, true, new {@Id="id35"})&nbsp;<label for="id35">male</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.IsMale, false, new {@Id="id36"})&nbsp;<label for="id36">female</label></div>
                    
                </div>
                <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-12">What is your nationality?</div>
                </div>
                <div class="row">
                    <div class="col-md-2">@Html.RadioButtonFor(x => x.Nationality, "Germany", new {@Id="id37"})&nbsp;<label for="id37">Germany</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Nationality, "UK", new {@Id="id38"})&nbsp;<label for="id38">UK</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Nationality, "USA", new {@Id="id39"})&nbsp;<label for="id39">USA</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Nationality, "India", new {@Id="id40"})&nbsp;<label for="id40">India</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.Nationality, "Italy", new {@Id="id41"})&nbsp;<label for="id41">Italy</label></div>
                    <div class="col-md-2">@Html.RadioButtonFor(x => x.Nationality, "Czech republic", new {@Id="id42"})&nbsp;<label for="id42">Czech republic</label></div>
                    <div class="col-md-2">Other: @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control" })  </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">What is the highest degree or level of school you have completed? (If you’re currently enrolled in school, please indicate the highest degree you have received.)</div>
                </div>
                <div class="row">
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "LessThanHighSchool", new {@Id="id43"})&nbsp;<label for="id43">Less than a high school diploma</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "HighSchool", new {@Id="id44"})&nbsp;<label for="id44">High school degree or equivalent (e.g. German Abitur)</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "ProfessionalDegree", new {@Id="id45"})&nbsp;<label for="id45">Professional degree (e.g. IHK)</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "BachelorsDegree", new {@Id="id46"})&nbsp;<label for="id46">Bachelor’s degree (e.g. BA, BS)</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "MastersDegree", new {@Id="id47"})&nbsp;<label for="id47">Master’s degree (e.g. MA, MS)</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Education, "Doctorate", new {@Id="id48"})&nbsp;<label for="id48">Doctorate (e.g. PhD)</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">What is your current employment status?</div>
                </div>
                <div class="row">
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "EmployedFullTime", new {@Id="id49"})&nbsp;<label for="id49">Employed full time</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "EmployedPartTime", new {@Id="id50"})&nbsp;<label for="id50">Employed part time</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "UnemployedLooking", new {@Id="id51"})&nbsp;<label for="id51">Unemployed and currently looking for work</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "UnemployedNotLooking", new {@Id="id52"})&nbsp;<label for="id52">Unemployed and not currently looking for work</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "Student", new {@Id="id53"})&nbsp;<label for="id53">Student</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "Retired", new {@Id="id54"})&nbsp;<label for="id54">Retired</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "SelfEmployed", new {@Id="id55"})&nbsp;<label for="id55">Self-employed</label></div>
                    <div class="col-md-12">@Html.RadioButtonFor(x => x.Employment, "UnableToWork", new {@Id="id56"})&nbsp;<label for="id56">Unable to work</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">Have you used in the past or do you currently use apps that collect your personal information?</div>
                </div>
                <div class="row">
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.UsesDataCollectingApps, true, new {@Id="id1"})&nbsp;<label for="id1">Yes</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.UsesDataCollectingApps, false, new {@Id="id2"})&nbsp;<label for="id2">No</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">Have you used in the past or do you currently use an app that is similar to the one that was presented to you in this questionnaire?</div>
                </div>
                <div class="row">
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.UsesSimilarApp, true, new {@Id="id3"})&nbsp;<label for="id3">Yes</label></div>
                    <div class="col-md-1">@Html.RadioButtonFor(x => x.UsesSimilarApp, false, new {@Id="id4"})&nbsp;<label for="id4">No</label></div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">How comfortable do you generally feel about providing your personal data to third parties? Please rate on a seven-point scale from very uncomfortable (-3) to very comfortable (3).</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, -3, new {@Id="id15"})&nbsp;<label for="id15">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, -2, new {@Id="id16"})&nbsp;<label for="id16">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, -1, new {@Id="id17"})&nbsp;<label for="id17">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, 0, new {@Id="id18"})&nbsp;<label for="id18">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, 1, new {@Id="id19"})&nbsp;<label for="id19">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, 2, new {@Id="id20"})&nbsp;<label for="id20">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.FeelComfortableProvidingData, 3, new {@Id="id21"})&nbsp;<label for="id21">3</label></div>
                </div>
                 <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">In general, how would you describe your willingness to take risks? Please rate on a seven-point scale from low willingness to take risks (-3) to high willingness to take risks (-3).</div>
                </div>
                <div class="row">
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, -3, new {@Id="id22"})&nbsp;<label for="id22">-3</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, -2, new {@Id="id23"})&nbsp;<label for="id23">-2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, -1, new {@Id="id24"})&nbsp;<label for="id24">-1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, 0, new {@Id="id25"})&nbsp;<label for="id25">0</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, 1, new {@Id="id26"})&nbsp;<label for="id26">1</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, 2, new {@Id="id27"})&nbsp;<label for="id27">2</label></div>
                    <div class="col-xs-1">@Html.RadioButtonFor(x => x.WillingnessToTakeRisks, 3, new {@Id="id28"})&nbsp;<label for="id28">3</label></div>
                </div>
                   <br/>
                <br/>
                 <div class="row">
                    <div class="col-md-2 col-md-offset-10" style="text-align: right">
                         <a  class="btn btn-default" href='javascript:history.go(-1)'>Back</a> &nbsp;
                         <button class="btn btn-primary">Next&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </div>
                 </div>
                
            </div>
        </div>
    </div>
</div>
</form>