﻿@page
@model PTThankYouModel
@{
    ViewData["Title"] = "DigitalTrust";
}
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Thank you</h3>
            </div>
            <form method="POST" class="panel-body">
                <p>Thank you very much for participating in the survey and supporting our research! </p>
                
                @if (!Model.IsFeedbackSent)
                {
                    <p>For pre-testing: In case you experienced any difficulties in understanding / answering any of the questions, please let us know:</p>
                    
                    @Html.TextAreaFor(m => m.Feedback, new { @class = "form-control" })  
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">Give feedback</button>
                }
               
                
            </form>
             @if (!Model.IsFeedbackSent)
            {
                <div class="panel-footer">
                   <small>S: @Model.Guid</small>
                </div>
            }
        </div>
    </div>
</div>
