﻿@page
@model ScenarioModel
@{
    ViewData["Title"] = "DigitalTrust";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please carefully read the following text.</h3>
            </div>
            <form method="POST" class="panel-body">
                
                <p>@Model.CurrentScenarioDefinition.BaseText</p>
                <p>@Model.CurrentScenarioDefinition.BenefitsText</p>
                <p>@Model.CurrentScenarioDefinition.PrivacyAndSecurityText</p>
                <p>@Model.CurrentScenarioDefinition.ControlText</p>
                
                <button type="submit"  asp-route-id="@Model.CurrentScenarioDefinition.Id" class="btn btn-primary pull-right">Next&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            </form>
        </div>
    </div>
</div>
